@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    font-stretch: 75% 125%;
    src: url('#{$file-path}.ttf') format('woff2-variations');
    font-display: swap;
  }
}
